body 
    +light
    color: $text-color
img
    max-width: 100%
    //картинка не может быть больше своего родителя
.section
    padding: 100px 0
    &-title
        font-size: 30px
        +bold
        text-align: center
        text-transform: uppercase
        margin-bottom: 100px
.button-o
    text-transform: uppercase
    border: 2px solid $primary
    padding: 17px 22px
    font-size: 12px
    +bold
    color: $primary
    background-color: #fff
    text-decoration: none
.button 
    border: none
    padding: 25px 45px
    text-transform: uppercase
    background-color: $primary
    +bold
    color: #fff
    text-decoration: none
    &:hover
        cursor: pointer
    &-fitting
        padding: 10px
        font-size: 11px
        text-transform: uppercase
        color: $primary
    &-add
        background-color: lighten($primary, 10%)
        padding: 10px
    &-like  
        background-color: $primary
        border: none 
        width: 30px


.bg-secondary
    background-color: $bg-secondary

input
    height: 80px
    padding-left: 30px
    border: 1px solid #dddddd
.checkbox
    display: none
    &:checked + label:before
        background-color: $primary
    &-label
        display: flex
        align-items: center
        margin-right: 40px
        &:hover
            cursor: pointer
        &:before
            content: ''
            width: 30px
            height: 30px
            border: 1px solid #dddddd
            margin-right: 20px

@media (max-width: 576px)
    .button
        font-size: 10px
        &-o
        font-size: 10px
@media (max-width: 991px) 
    .section
        padding: 60px 0
        &-title
            font-size: 24px
  