body 
    +light
    color: $text-color
.button-o
    text-transform: uppercase
    border: 2px spolid $primary
    padding: 17px 22px
    font-size: 12px
    +bold
    color: $primary
.button 
    border: none
    padding: 25px 45px
    text-transform: uppercase
    background-color: $primary
    +bold
    color: #fff
  