body 
    +light
    color: $text-color
.button-o
    text-transform: uppercase
    border: 2px solid $primary
    padding: 17px 22px
    font-size: 12px
    +bold
    color: $primary
    background-color: #fff
.button 
    border: none
    padding: 25px 45px
    text-transform: uppercase
    background-color: $primary
    +bold
    color: #fff

@media (max-width: 576px)
    .button-o
        font-size: 10px
   
  